---
import { getCollection } from "astro:content";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "@layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import { getSortedPosts } from "@utils/getSortedPosts";

const sortedPosts = getSortedPosts(await getCollection("blog"));
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1
    class="mb-6 font-serif text-4xl font-bold tracking-tight text-slate-800 dark:text-slate-100"
  >
    Blog Posts
  </h1>
  <p class="mb-12 text-xl">
    A collection of my writing, useful tips, and code snippets.
  </p>
  <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-12">
    {
      sortedPosts.map(({ slug, data }) => (
        <div class="">
          <a href={"/blog/" + slug} class="group">
            <Image
              src={data.image.url}
              alt={data.image.alt}
              class="h-72 rounded-lg object-cover object-center shadow ring-violet-600 ring-offset-4 ring-offset-neutral-50 transition duration-300 group-hover:ring-4 dark:ring-offset-gray-900"
              width={384 * 3}
              height={384 * 3}
            />
            <time
              datetime={data.pubDate.toDateString()}
              class="mt-4 block italic text-gray-700 dark:text-gray-400"
            >
              <span>
                {new Date(data.pubDate).toLocaleDateString("en-gb", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}
              </span>
            </time>
            <div class="mt-2 text-xl font-bold">{data.title}</div>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
