---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "@layouts/Layout.astro";
import Link from "@ui/Link.astro";
import Text from "@ui/Text.astro";

const allWork = await Astro.glob("./work/*.md");
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="mt-8 mb-16 flex flex-col gap-4 md:mt-28 md:mb-32">
    <h1
      class="font-serif text-4xl font-bold tracking-tight sm:text-8xl sm:font-normal"
    >
      <a
        href="/work"
        class="animate-bg-slide bg-gradient-to-r from-violet-600 to-fuchsia-500 bg-[length:400%] bg-clip-text bg-right text-transparent transition-all duration-700 hover:bg-[length:100%]"
        >I make web apps.</a
      >
    </h1>
    <p class="order-first text-xl font-bold uppercase tracking-wide">
      <span class="">Hello,</span> my name is Rob
    </p>
    <p
      class="text-2xl font-light leading-8 sm:mt-4 sm:text-3xl sm:leading-normal"
    >
      I'm a front-end developer and love building polished user interfaces. <br
      />As well as <Link href="https://github.com/ruridge">coding</Link>, I also
      write about the web on my <Link href="/blog">blog</Link>.
    </p>
  </div>
  <h2
    class="font-serif text-4xl font-bold tracking-tight text-slate-800 dark:text-white"
  >
    Featured Posts
  </h2>
  <br />
  <div class="grid grid-cols-[repeat(auto-fit,_minmax(24ch,_1fr))] gap-4">
    {
      allWork.map((work) => (
        <div class="">
          <a href={work.url}>
            <img
              src={work.frontmatter.image.url}
              alt={work.frontmatter.image.alt}
              class="rounded-lg shadow"
            />
            <Text as="span">{work.frontmatter.title}</Text>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
