---
import { Image } from "@astrojs/image/components";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Layout from "@layouts/Layout.astro";
import Link from "@ui/Link.astro";

const allProjects = await Astro.glob("./projects/*.md");
const allPosts = await Astro.glob("./blog/*.md");
const recentPosts = [...allPosts, ...allPosts].slice(0, 6);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="mt-8 mb-16 flex flex-col gap-4 md:mt-28 md:mb-32">
    <h1
      class="font-serif text-4xl font-bold tracking-tight sm:text-8xl sm:font-normal"
    >
      <a
        href="/projects"
        class="animate-bg-slide bg-gradient-to-r from-violet-600 to-fuchsia-500 bg-[length:400%] bg-clip-text bg-right text-transparent transition-[background] hover:bg-[length:100%]"
        >I make web apps.</a
      >
    </h1>
    <p class="order-first text-xl font-bold uppercase tracking-wide">
      <span class="">Hello,</span> my name is Rob
    </p>
    <p
      class="text-2xl font-light leading-8 sm:mt-4 sm:text-3xl sm:leading-normal"
    >
      I'm a front-end developer and love building polished user interfaces. <br
      />As well as <Link href="https://github.com/ruridge">coding</Link>, I also
      write about the web on my <Link href="/blog">blog</Link>.
    </p>
  </div>
  <h2
    class="mb-5 font-serif text-4xl font-bold tracking-tight text-slate-800 dark:text-slate-100"
  >
    Things I've Built
  </h2>
  <div
    class="-mx-5 flex snap-x snap-mandatory gap-4 overflow-x-auto py-3 px-5 sm:snap-none md:mx-0 md:px-0"
  >
    {
      allProjects.map((work) => {
        return (
          <a
            href={work.url}
            class="bg-gradient-45 ease-out-quint group flex w-72 flex-none snap-center snap-always rounded-lg from-[rgb(124,58,237)] via-[#da62c4_30%] to-[white_60%] bg-[length:400%] bg-right p-0.5 shadow-md transition-[background-position] duration-500 focus-within:bg-left hover:bg-left dark:to-[transparent_60%]"
          >
            <div class="flex h-full w-full flex-col rounded-md bg-white py-4 px-5 text-neutral-900 group-hover:text-purple-600 group-hover:transition-[color] dark:bg-slate-800 md:opacity-80">
              <h2 class="text-xl dark:text-white">{work.frontmatter.title}</h2>
              <p class="mt-2 flex-1 text-gray-600 dark:text-gray-300">
                {work.frontmatter.description}
              </p>
              <div class="text-right text-xl transition-transform group-hover:translate-x-1 dark:text-white">
                &rarr;
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
  <div class="block h-11"></div>
  <h2
    class="mb-8 font-serif text-4xl font-bold tracking-tight text-slate-800 dark:text-slate-100"
  >
    Recent Posts
  </h2>
  <div class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-x-6 lg:gap-y-12">
    {
      recentPosts.map((post) => (
        <div class="">
          <a href={post.url} class="group">
            <Image
              src={post.frontmatter.heroImage}
              alt={post.frontmatter.description}
              class="h-72 rounded-lg object-cover object-center shadow ring-violet-600 ring-offset-4 ring-offset-neutral-50 transition duration-300 group-hover:ring-4 dark:ring-offset-gray-900"
              width={599}
              aspectRatio={1}
            />
            <div class="mt-4 text-gray-700 dark:text-gray-300">
              {post.frontmatter.pubDate}
            </div>
            <div class="mt-2 text-xl font-bold">{post.frontmatter.title}</div>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
