---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Text from "@components/ui/Text.astro";
import Layout from "@layouts/Layout.astro";

const pageTitle = "Projects | Robert Uridge";
const pageDescription = "A collection of projects I've worked on.";
const allProjects = await getCollection("projects");
---

<Layout title={pageTitle} description={pageDescription}>
  <Text as="h1" size="h2">My Projects</Text>
  <Text as="h2" size="h3">A portfolio of my work, past and present.</Text>
  <br />
  <div class="grid grid-cols-[repeat(auto-fit,_minmax(24ch,_1fr))] gap-4">
    {
      allProjects.map((project) => (
        <div class="">
          <a href={"/projects/" + project.slug}>
            <Image
              src={project.data.image}
              alt={project.data.imageAlt}
              class="rounded-lg shadow"
              width={390}
              height={260}
            />
            <Text as="span">{project.data.title}</Text>
          </a>
        </div>
      ))
    }
  </div>
</Layout>
