---
import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article class="mx-auto max-w-xl">
    {
      frontmatter.image.url && (
        <div class="relative inset-x-1/2 mx-[-50vw] w-screen">
          <Image
            width={720}
            height={360}
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            class="h-48 w-full object-cover sm:h-64"
          />
        </div>
      )
    }
    <h1 class="my-4 font-serif text-3xl">
      {frontmatter.title}
    </h1>
    <p class="text-base text-slate-700 dark:text-gray-400">
      {frontmatter.description}
    </p>
    <hr class="my-4 border-t border-neutral-300 dark:border-gray-800" />
    <div class="mb-8 flex gap-4">
      {
        frontmatter.pubDate && (
          <time
            datetime={frontmatter.pubDate.toDateString()}
            class="flex items-center gap-0.5 text-sm italic text-slate-700 dark:text-gray-400"
          >
            <Icon name="mdi:calendar-today" class="mr-1 inline-block h-4 w-4" />
            <span>
              {new Date(frontmatter.pubDate).toLocaleDateString("en-gb", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </span>
          </time>
        )
      }
      <div
        class="flex items-center gap-0.5 text-sm italic text-slate-700 dark:text-gray-400"
      >
        <Icon name="mdi:access-time" class="mr-1 inline-block h-4 w-4" />
        <span>12 min</span>
      </div>
    </div>
    {
      frontmatter.updatedDate && (
        <div>
          Last updated on <time>{frontmatter.updatedDate}</time>
        </div>
      )
    }
    <div class="markdown">
      <slot />
    </div>
  </article>
</Layout>
