---
// Import the global.css file here so that it is included on
// all pages through the use of the <Layout /> component.
import "../styles/global.css";
import Header from "@components/Header.astro";
import { ThemeToggle } from "@components/ThemeToggle";
import Link from "@components/ui/Link.astro";
import { SITE_TITLE } from "src/config";

import "speedlify-score/speedlify-score.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image = "/placeholder-social.jpg" } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const today = new Date();

const response = await fetch("https://speedlify.uridge.com/api/urls.json");
const data = await response.json();
const speedlyHash = data[canonicalURL.href]?.hash || "e6a60b95"; // default to index hash if no page speed has been run for the given path
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- PWA -->
    <meta name="theme-color" content="#f8fafc" />

    <!-- Mastodon Verification -->
    <link rel="me" href="https://social.treehouse.systems/@rob" />

    <script is:inline>
      // run inline (to avoid FOUC)
      // on page load: add "dark" class to the html element)
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
        document
          .querySelector('meta[name="theme-color"]')
          .setAttribute("content", "#0B1120");
      }
    </script>
  </head>
  <body
    class="flex h-full flex-col items-stretch break-words bg-white text-zinc-900 dark:bg-zinc-900 dark:text-neutral-50"
  >
    <div class="mx-auto w-full max-w-7xl px-4 md:px-6">
      <Header />
    </div>
    <main class="mx-auto w-full max-w-7xl flex-1 px-4 md:px-6">
      <slot />
    </main>

    <footer
      class="mx-auto w-full max-w-7xl py-6 px-4 text-zinc-600 dark:text-zinc-300 md:px-6"
    >
      <div
        class="space-y-6 border-t-2 border-zinc-100 pt-6 dark:border-zinc-800 sm:space-y-4"
      >
        <div class="flex flex-row space-y-4 md:justify-between md:space-y-0">
          <ul
            class="flex flex-col space-y-2 sm:flex-row sm:space-y-0 sm:space-x-4"
          >
            <li>
              <a
                href="/"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/projects"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >Projects</a
              >
            </li>
            <li>
              <a
                href="/blog"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="/about"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >About</a
              >
            </li>
          </ul>

          <ul
            class="flex flex-col space-y-2 sm:flex-row sm:space-y-0 sm:space-x-4"
          >
            <li>
              <a
                rel="me"
                href="https://hachyderm.io/@robu"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
              >
                Mastodon
              </a>
            </li>
            <li>
              <a
                href="/linkedin"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="/github"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >GitHub</a
              >
            </li>
            <li>
              <a
                href="/instagram"
                class="inline-flex appearance-none items-center gap-1 border-0 bg-transparent p-0 no-underline underline-offset-2 [--link-icon-size:theme(spacing.6)] hover:underline focus:outline-none [&>svg]:h-[var(--link-icon-size)] [&>svg]:w-[var(--link-icon-size)]"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="flex justify-between">
          <a href="https://speedlify.uridge.com/uridge.com/">
            <speedlify-score
              class="basis-56"
              speedlify-url="https://speedlify.uridge.com/"
              hash={speedlyHash}
              score
              weight></speedlify-score>
          </a>
          <div>
            Copyright &copy; {today.getFullYear()}
            <Link href="https://www.uridge.com">{SITE_TITLE}</Link>.
          </div>
          <div class="flex basis-56 flex-row-reverse">
            <!-- <ThemeToggle client:media="(min-width: 768px)" /> -->
            <div class="max-md:hidden">
              <ThemeToggle client:load />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
  import "speedlify-score/speedlify-score.js";
</script>
